Api.UnitTests/obj/
/Api/obj
/Shared/obj
root = true

[*.cs]
charset = utf-8-bom
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
dotnet_diagnostic.IDE0005.severity = warning   # unused usings
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
/.vs
/WebApp/obj
/WebApp/obj
/Api/bin
/Shared/bin
